@font-face {
    font-family: 'hearthstone';
    src: url(../fonts/hearthstone.otf);
}

body {
    background: transparent;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'hearthstone';
    margin: 0 auto;
}

header {
    background-color: rgba(0,0,0,0.5);    
    width: 100%;
    height: 20vh;
    margin-bottom: 1%;
    text-align: center;
}


/* Styling for the header of the memory match game */

#logo {
    width: 100px;
    height: 100px;
    float: left;
}

#game_title {
    font-size: 3em;
    text-shadow: 4px 4px black;
    color: rgb(218, 116, 0);
    width: 70%;
    margin: 10px auto;
}

.links {
    color: rgb(218, 116, 0);
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    margin: 2%;
}

.links:hover {
    cursor: pointer;
    -webkit-text-shadow:0 0 50px rgb(255, 255, 255); 
    -moz-text-shadow: 0 0 50px rgb(255,255,255); 
    text-shadow:0 0 50px rgb(255,255,255);
}


/* Styling for the stats container */

#stats_container {
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5em;
    text-shadow: 2px 2px black;
    color: rgb(218, 116, 0);
    height: 70vh;
    width: 14vw;
    display: inline-flex;
    flex-direction: column;
    padding: 2%;
}

.value {
    text-shadow: none;
    color: rgb(218, 116, 0);
}

.games_played,
.attempts,
.accuracy,
.healthPoints {
    flex: .33;
}

/* Styling for the game board and cards */

#game_area {
    width: 80vw;
    height: 78vh;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    vertical-align: top;
}

img {
    width: 90%;
    height: 120px;
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.card {
    width: 12%;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    margin: 13px 16px;
}

.card:hover {
    cursor: pointer;
}

.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    height: 99%;
}

.front {
    transform: rotateY(180deg);
}

.reveal .back {
    display: none;
}

/*************************************
            Media Query
*************************************/

@media only screen and (max-width: 1400px) {
    #game_area {
        width: 80vw;
        height: 78vh;
    }
   
}

@media only screen and (max-width: 1300px) {
    .card {
        width: 13%;
    }
    img {
        width: 115%;
    }

    #game_area {
        width: 79vw;
        height: 78vh;
    }
}

@media only screen and (max-width: 1025px) {
    .card {
        width: 11%;
    }
    img {
        width: 115%;
    }
}

@media only screen and (max-width: 950px) {
    .card {
        width: 11%;
    }
    img {
        width: 120%;
    }
}

@media only screen and (max-width: 870px) {
    .card {
        width: 10%;
    }
    img {
        width: 125%;
    }
}

@media only screen and (max-width: 720px) {
    .card {
        width: 9%;
    }
    #stats_container {
        font-size: 1em;
    }
    img {
        width: 150%;
    }
}

@media only screen and (max-width: 550px) {
    .card {
        width: 7%;
    }
    #stats_container {
        font-size: .75em;
    }
    img {
        width: 200%;
    }
}

@media only screen and (max-width: 450px) {
    .card {
        width: 7%;
    }
    img {
        width: 210%;
    }
    #game_area {
        width: 78vw;
        height: 78vh;
    }
}

@media only screen and (max-width: 405px) {
    .card {
        width: 6%;
    }
    img {
        width: 220%;
    }
   
}

@media only screen and (max-width: 320px) {
    .card {
        width: 4%;
    }
    img {
        width: 250%;
    }
}